* {
box-sizing: border-box;
} 

   :root {
        --main-bg-color: #9bc6e9;
        --section-bg-color: #80c09d;
    }


.wrapper {
margin: 2%;
display: flex;
flex-wrap: wrap;
padding-right:16px;
padding-left:16px;
padding-bottom:32px;
}

.wrapper > * {
flex: 1 1 250px;
margin: 2%;
}

/* This creates the flexible cards where I will pocket information */
.card {
display: flex;
border-radius: 2em;
flex-direction: column;
align-items: center;      /* center content in card */
justify-content: center;  /* center content in card */
padding: 2.0em;
margin: 0 2%;
flex-grow:1;
background-color: var(--section-bg-color);
font-family:'Playfair Display', serif;
}

.card_j{
    display:flex;
    background:none;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:2.0em;
    margin:0 2%;
    flex-grow:1;
    font-family:'Playfair Display', serif;
}


.card h1, h4 {
    margin:0;
    text-decoration: none;
}
.card section {
    background-color: #7888a3;
    text-align:left;
    padding:0;
}


/*create overlay text for images */
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #e7e2e2; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size:smaller;
    font-family: 'Playfair Display', serif;
}

/* When container is moused over, the overlay fades in*/
.container:hover .overlay{
    opacity:1;
}

/* Style the body */
body {
    font-family: 'Playfair Display', serif;
    font: 100%;
    margin: 0;
    background-color: var(--main-bg-color);
}
body h1 {
    font-family:'Playfair Display', serif;
    font:90%;
    font-weight:500;
    text-align:center;
    margin:5px;
    text-decoration: underline;
}
/* I liked my span from the website idea project */
span {
    font-style:oblique;
    color: darkred;
}

/* Header class for titles */
header {
    padding: 30px;
    text-align: center;
    color: black;
    background-color:#927dbe;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
}

.journey {
    font-size:x-large;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style:italic;
    text-align: center;
    text-decoration: underline;
}

footer, aside, section {
    border-radius: 2em;
    padding: 20px;
    font-size: 130%;
}

.block {
    display: block;
    width: 50%;
    border: 50px;
    background-color: #1F7941;
    color: white;
    padding: 14px 28px;
    margin:auto;
    cursor: pointer;
    text-align: center;
    text-overflow:unset;
    font-family: 'Playfair Display', serif;
    font-size: large;
}
  
.block:hover {
    background-color: #ddd;
    color: black;
}

/* Increase the font size of the heading in the header class */
header h1 {
    font-size: 50px;
    font-style:italic;
    font-weight: 700;
}

/* Style the top navigation bar */
nav {
    overflow: hidden;
    background-color: #1F7941;
    opacity: 90%;
    padding: 10px;
    display: block;
    margin: 0px;
    width:100%;
}
/* Remove the navigation items on small screen */
#navitems {
    display:none;
}
#navitems a {
    display:block;
    box-sizing:border-box;
    border-top:.05em solid #1F7941;
}
nav label { /* Styles for the hamburger icon */ 
    display: inline-block; color: #2F4F4F; background: #1F7941; 
    font-size: 1.2em; 
    padding: .5em; 
} 

/* Toggle the hamburger icon to show/hide menu */ 
/* Don't display the checkbox, just the hamburger label */ 
#hamburger { display: none; }
nav input:checked ~ #navitems {display:block;} 

/* Style the navigation bar links */
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Playfair Display', serif ;
}


/* Change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 20%;
    flex: 20%;
    margin:auto;
    text-align: center;
    background-color: #b9b5b5;
    padding: 10px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius:2.5em;
}

/*remove the margin for the 'About Me' heading */
.side h3 {
    margin:0;
    font-size:x-large;
    font-family: 'Playfair Display', serif;
    font-weight:700;
    font-style:italic;
}
.side p {
    font-size:110%;
}

/* Main column */
main {
    -ms-flex: 80%;
    /* IE10 */
    flex: 80%;
}

/* Make initial headers generally align center in the MAIN class portion of the website
remove margins so there's no space between title and subtitle*/
main h2,h5 {
    text-align:center;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

main h3 {
    margin:0;
    font-family: 'Playfair Display', serif;
}

main p {
    font-size: 110%;
    font-family: 'Playfair Display', serif;
}

/* Image background and format */
.container {
    position: relative;
    justify-content: center;
    text-align: center;
    padding:5px;
    height: auto;
    display:block;
    flex-direction:column;
}

/* this is for my profile pciture*/
.img_prof{
    display:block;
    width:100%;
    height:auto;
    border-radius: 50%;
}
.img_j{
    display:block;
    border-radius:3%;
    width:125%;
    border-color:black;
    border-style:ridge;
}

.img_card {
    display:block;
    max-width: 100%;
    height:auto;
    border-radius:3%;
    border-color:black;
    border-style:ridge;
}

.container_aside {
    position:relative;
    justify-content: flex-start;
    text-align: center;
    padding: 20px;
    display:block;
}
.img_aside {
    display:flex;
    width:100%;
    height:100%;
}


/*create overlay text for images */
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #e7e2e2; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size:smaller;
    font-family: 'Playfair Display', serif;
}

/* When container is moused over, the overlay fades in*/
.container:hover .overlay{
    opacity:1;
}

/* Putting text on an image overlay*/
.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 0px;
    font-size: medium;
    font-family: 'Playfair Display', serif;
}

.content p {
    font-size: medium;
    font-family: 'Playfair Display', serif;
}

 #video1 { max-width: 95%; 
border-color:rgb(0, 0, 0);
border-style:ridge;
border-radius: 3px;}

 #controls { padding: 5px; }
 i {
    margin: 0 10px;
    color: #7659b6;
 }




/* CSS for Academic Journey Page */

aside { 
    align-items: center;
    justify-content: center;
}

aside h3, p{
    font-size:large;
    text-align: center;
}

section { background-color: #406098;
text-align:left;}
section p {
    text-align:left;
}


.content-wrapper_column {
display: flex;
flex-direction: column;
justify-content: center;
gap: .5em;
row-gap: .5em;
}
.content-wrapper_column section{
    background-color: #7888a3;
}


.media-object {
display: flex;
align-items:flex-start;
padding: 1em;
max-width: 80%;
}

.media-image {
max-width: 35%;
margin-left:auto;

}

.media-description {
align-content:flex-end;
overflow-wrap:break-word;
max-width: 100px;
display:flex;
font-size: xx-small;
font-family:'Courier New', Courier;
padding: 0px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
@media screen and (min-width: 37.5em){ 
    #navitems { display: flex; justify-content: left;} 
    nav label, #hamburger { display: none; } 
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
/* Responsive layout - when the screen is less than 400px wide, make cards stack on top of eachother */

@media (min-width: 64em) {
.content-wrapper_column {flex-direction:column;}
 }

