* {
    box-sizing: border-box;
} 
    
    :root{
        --main-bg-color: #9bc6e9;
    }


body {
font-family: 'Playfair Display', serif;
font: 100%;
margin: 2.5em;
background-color: var(--main-bg-color);
}

.wrapper {
display: flex;
flex-direction: column;
gap: .5em;
row-gap: .5em;
}

.content-wrapper {
display: flex;
flex-direction: row;
gap: .5em;
row-gap: .5em;
}

span {
    font-style: italic;
    color: 	#591d77;
}

header, footer, aside, section {
    border-radius: .313em;
    padding: .625em;
    font-size: 130%;
}
header {
    text-align: center;
    text-decoration: underline;
}

footer{
    text-align: right;
}

header, footer { background-color:#007a4b; }
aside { 
    background-color: #7659b6; 
    align-items: center;
    justify-content: center;
}

aside h3, p{
    margin-bottom:0;
    font-size:large;
    text-align: center;
}

section { background-color: #406098;
text-align:left;}
section p {
    text-align:left;
}


.media-object {
display: flex;
align-items:flex-start;
padding: 1em;
border-radius: 1px;
max-width: 80%;
}

.media-image {
max-width: 35%;
margin-left:auto;
}

.media-description {
align-content:flex-end;
overflow-wrap:break-word;
max-width: 100px;
display:flex;
font-size: xx-small;
font-family:'Courier New', Courier;
padding: 0px;
}

/* The bottom two responsive layouts are directly from this link on https://www.w3schools.com/howto/howto_make_a_website.asp */
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
